<%= form_with(model: quarto, local: true) do |form| %>
  <% if quarto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quarto.errors.count, "error") %> prohibited this quarto from being saved:</h2>

      <ul>
      <% quarto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :numero %>
    <%= form.number_field :numero %>
  </div>
  <br>
  <div class="field">
    <%= form.label :foto %>
    <%= form.file_field :foto %>
  </div>


  <br />

  <div class="dropdown">
    <%= form.label :nome %>
    <%= form.collection_select :user_id, @usuarios, :id, :nome,  include_blank: true %>
  </div>

  <br />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
