

<section class= 'review'>

<%= form_for [@quarto, @review] do |f| %>


    <div class="dropdown">
    <%= f.label :nome %>
    <%= f.collection_select :usuario_id, @usuarios, :id, :nome,  include_blank: true %>
    </div>

    <br>

    <% Review::POINTS.each do |point| %>
        <%= f.radio_button :pontos, point %>
        <%= f.label :pontos, point, value: point %>
    <% end %>
    
    <%= f.submit %>

<%end%>

</section>