<p id="notice"><%= notice %></p>

<h1>Quartos</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Nome </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <%= render @quartos %> 
      <%= paginate @quartos %>
      <!-- COC rails. A partir desta implementação rails: -->
      <!-- 1- verifica a qual recurso a view que invoca o render pertence (quarto)-->
      <!-- 2- verifica se object model passada a render pertence ao mesmo recurso da view que invoca a função render -->
      <!-- 3- procura uma partial com o mesmo nome do recurso (_quarto) -->
      <!-- 4- cria uma variável local com o nome da partial -->
      <!-- 5- No casso especifico de uma collection de object model ser passada para o render, o rails já trata identificando cada ojeto passa para a render e invoca N x a partil conforme o numero de objetos -->
      
  </tbody>
</table>

<br>

<%= link_to 'New Quarto', new_quarto_path %>
<br>
<%= link_to 'visualizar/criar Avaliações', avaliacoes_path %> <!--sem utilizar params quarto pela rota aninhada -->

