<p id="notice"><%= notice %></p>

<h1>Quartos</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Nome </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quartos.each do |quarto| %>
      <tr>
        <td><%= quarto.numero %></td>
        <td><%= quarto.usuario_nome %></td>
        <td><%= link_to 'Show', quarto %></td> <!--utilizando params quarto pela rota aninhada -->
        <td><%= link_to 'Edit', edit_quarto_path(quarto) %></td>
        <td><%= link_to 'Destroy', quarto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Avaliar', new_avaliar_path(quarto) %></td> <!--utilizando params quarto pela rota aninhada -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quarto', new_quarto_path %>
<br>
<%= link_to 'visualizar/criar Avaliações', avaliacoes_path %> <!--sem utilizar params quarto pela rota aninhada -->

