<p id="notice"><%= notice %></p>

<section class="review">

    <h1>Reviews</h1>

    <h2> Numero do quarto: <%=@quarto.numero %> </h2>

    Pontuação Média: 
    <% @media_estrelas.times do%>
      <span class= "filled_star"></span>
    <%end%>
    
    <% (5 - @media_estrelas).times do%>
      <i class= "empty_star fa fa-star"></i>
    <%end%>

    <!--<%=render partial: 'reviews_quarto', object: @reviews %> -->
    <%=render @reviews %>

    <br>

    <%= link_to "voltar", root_path %>

</section>
