<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Nome </th>
      <th>Reviews </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.quarto.numero %></td>
        <td><%= review.usuario.nome %></td>
        <td><%= review.pontos %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "voltar", root_path %>
<%= link_to "Criar Avaliação", new_avaliacao_path %>
